.absolute-button {
	position: absolute;
	bottom: -33px;
	right: -104px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #D4E7D9;
	border-radius: 16px;
	border: 1px solid #76977E;
	padding: 12px 24px;
	box-shadow: 1px 1px 3px #0000000D;
	text-align: left;
}
.absolute-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 68px;
	object-fit: fill;
}
.absolute-image2 {
	position: absolute;
	top: 0px;
	right: 372px;
	width: 114px;
	height: 114px;
	object-fit: fill;
}
.absolute-text {
	position: absolute;
	bottom: -110px;
	right: -79px;
	color: #0C0C0C;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	width: 596px;
}
.absolute-view {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #192D1E;
	padding: 18px 120px;
}
.box {
	flex: 1;
	align-self: stretch;
}
.button-row-view {
	width: 213px;
	display: flex;
	align-items: center;
	background: #FBEEEE;
	border-radius: 16px;
	border: 1px solid #EBADAD;
	padding: 12px 24px;
	margin-top: 37px;
	margin-right: 208px;
	gap: 12px;
	box-shadow: 1px 1px 3px #0000000D;
	text-align: left;
}
.button-row-view2 {
	width: 215px;
	display: flex;
	align-items: center;
	background: #FBEEEE;
	border-radius: 16px;
	border: 1px solid #EBADAD;
	padding: 12px 24px;
	gap: 12px;
	box-shadow: 1px 1px 3px #0000000D;
	text-align: left;
}
.button-row-view3 {
	display: flex;
	align-items: center;
	background: #D4E7D9;
	border-radius: 16px;
	border: 1px solid #76977E;
	padding: 11px 23px;
	gap: 12px;
	box-shadow: 1px 1px 3px #0000000D;
	text-align: left;
}
.column {
	width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: linear-gradient(180deg, #FAFAFA, #D3E9FD);
	gap: 9px;
}
.column2 {
	width: 983px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.column3 {
	width: 199px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 172px;
	position: relative;
}
.column4 {
	width: 102px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 161px;
	position: relative;
}
.column5 {
	width: 413px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 78px;
}
.column6 {
	width: 584px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 292px;
	position: relative;
}
.contain {
	align-items: flex-start;
	background: #FFFFFF;
}
.image {
	width: 199px;
	height: 260px;
	object-fit: fill;
}
.image2 {
	width: 32px;
	height: 32px;
	object-fit: fill;
}
.image3 {
	width: 140px;
	height: 140px;
	margin-top: 97px;
	object-fit: fill;
}
.image4 {
	width: 102px;
	height: 132px;
	object-fit: fill;
}
.image5 {
	width: 96px;
	height: 96px;
	object-fit: fill;
}
.image6 {
	width: 114px;
	height: 260px;
	object-fit: fill;
}
.image7 {
	width: 86px;
	height: 86px;
	margin-bottom: 62px;
	margin-left: 218px;
	object-fit: fill;
}
.image8 {
	width: 70px;
	height: 70px;
	margin-bottom: 57px;
	margin-left: 29px;
	object-fit: fill;
}
.image9 {
	width: 584px;
	height: 333px;
	object-fit: fill;
}
.image10 {
	width: 100px;
	height: 100px;
	margin-top: 55px;
	object-fit: fill;
}
.row-view {
	align-self: stretch;
	display: flex;
	align-items: flex-start;
	gap: 44px;
}
.row-view2 {
	align-self: stretch;
	display: flex;
	align-items: flex-start;
	margin-bottom: 114px;
	margin-right: 65px;
}
.row-view3 {
	display: flex;
	align-items: center;
	gap: 12px;
}
.row-view4 {
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 40px;
	margin-left: 86px;
}
.row-view5 {
	display: flex;
	align-items: flex-start;
	margin-left: 159px;
}
.row-view6 {
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	margin-left: 11px;
}
.row-view7 {
	display: flex;
	align-items: flex-start;
	position: relative;
}
.row-view8 {
	display: flex;
	align-items: flex-start;
}
.row-view9 {
	width: 203px;
	display: flex;
	align-items: flex-start;
	gap: 24px;
}
.text {
	color: #414141;
	font-size: 20px;
}
.text2 {
	color: #414141;
	font-size: 24px;
	text-align: center;
	width: 582px;
}
.text3 {
	color: #FAFAFA;
	font-size: 22px;
	font-weight: bold;
}
.text4 {
	color: #FAFAFA;
	font-size: 14px;
	margin-right: 723px;
}
.text5 {
	color: #FAFAFA;
	font-size: 14px;
	font-weight: bold;
}
.view {
	width: 281px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #2C5134;
	border-radius: 32px;
	padding: 16px 47px;
	box-shadow: 0px 2px 0px #00000003;
}
.view2 {
	width: 88px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1px;
}
.view3 {
	width: 91px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1px;
}